
#canvas {
    background-color: darkslategray;
    position: absolute;
    z-index: 0;
}
#ui_canvas {
    position: absolute;
    z-index: 1;
}

#play_b {
    position: absolute;
    display: block;
    left: 50%;
    top: 70%;
}

#heart_icon {
    position: absolute;
    display: block;
    left: 20%;
    top: 5%;
}
.canvas-div {
    display: flex;
    justify-content: center;
}